/.vscode
/ARRAY
/BASICS_ALGO
/BINARY_TREE
/For_loop.cpp
/GFG DSA
/HASHING
/HASHMAP
/HeapSort
/LINKED_LIST
/MATHMATICS
/MATRIX
/output
/Pattern.cpp
/RECURSION
/SORTING
/STL in CPP
/STRING
/String question
/TRIE DS